Checks: >
  clang-analyzer-*,
  bugprone-*,
  concurrency-*,
  misc-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -readability-magic-numbers,
  -header-filter=.*