[submodule "tools/OpenGL-Hpp/OpenGL-Registry"]
	path = tools/OpenGL-Hpp/OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry.git
[submodule "tools/OpenGL-Hpp/glad"]
	path = tools/OpenGL-Hpp/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "conan/config"]
	path = conan/config
	url = git@github.com:XenoideSoftware/conan-common.git
