[submodule "dep/cgltf"]
	path = src/demos/sandbox/dependencies/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "dep/Catch2"]
	path = src/engine/dependencies/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "src/engine/dependencies/googletest"]
	path = src/engine/dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "src/engine/dependencies/benchmark"]
	path = src/engine/dependencies/benchmark
	url = https://github.com/google/benchmark.git
