
XE, The C++ Game and Multimedia Engine

Proyecto XE

'XE' es una plataforma para la construccion de aplicaciones multimedia de alto rendimiento, soportadas 
en Windows, Linux, MacOS, Android y HTML5.

Caracteristicas:
    1. Portabilidad sobre varias plataformas.
    2. Ligero.
    3. Alto Rendimiento.

Funcionalidades Bajo Nivel:
    * Core
        - Algebra Lineal
        - Geometria
        - Gestion de Recursos
    * Graficos.
        - Fuentes (Texto).
        - Interfaces de Usuario.
        - Graficos 2D.
        - Graficos 3D.
        - Capa de Abstraccion de Shaders (SAL).
            - Metalenguaje de Shaders embedidos (y/o)
            - Framework de Shaders para personalizacion
        - Efectos Basicos de Graficos
    * Audio
        - Sonido
        - Musica
        - Efectos Basicos de Sonido
    * Entrada 
        - Teclado
        - Raton
        - Joystick
        - Touch
    * Framework 
        - Orientacion a Sistemas 
        - Cola de Mensajeria para comunicacion entre sistemas (de alto y de bajo nivel)

Planned features for Version 1.0

Supported Platforms / Toolchains:
	- Windows / Visual C++ 2015
	- Windows / MinGW-w64
	- Linux / GCC
	- Linux / clang
	- Android / GCC
	- Web / emscripten

- Test-Driven development 

Features:

Low Level Layer 

Core
	- Buffer Abstraction
	
	- Stream Abstration
		- Memory Stream
		- Buffer Stream
		- File Stream
		
	- Archive Abstraction (PENDING)
		- Folder Archive
		- Zipped Archive
		
Math 
	- n-dimensional Vector operations.
		- Addition and Subtraction.
		- Multiplication and Division by Scalar.
		- Multiplication and Division component wise.
		- Dot Product.
		- Cross Product.
		- Length.
		- Normalize
		- Clamp.
		- Triple Dot Product.
		- Triple Vector Product.
		- Projection
		
	- Quaternion operations.
		- Addition and Subtraction.
		- Multiplication and Division.
		- Multiplication and Division by Scalar.
		- Length.
		- Inverse. 
		- Normalize.
		- Conjugate.
		
	- nxm- dimensional Matrix operations.
		- Addition and Subtraction.
		- Multiplication and Division.
		- Multiplication and Division by Scalar.
		- Transpose
		- Determinant
		- Inverse
	
Geometry 
	- Plane 
	- Triangle 
	- Ray
	- Segment
	- Bounding Volumes
		- Sphere
		- Ellipsoid
		- Axis-Aligned Bouding Box
		
	- Operations
		 - Plane - Ray Intersection
		 - Sphere - Ray Intersection
		 - Ellipsoid - Ray Intersection
		 - AABBox - Ray Intersection
		 
		 - Plane - Segment Intersection
		 - Sphere - Segment Intersection
		 - Ellipsoid - Segment Intersection
		 - AABBox - Segment Intersection
		 
Input
	- Support for Mouse
		- Mouse Button Press and Release
		- Mouse Move
		- Mouse Bidirectional Wheel
	
	- Support for Keyboard
		- Key Press
		- Key Release
		
	- Suppport for Joypad 
		- Pad Press and Release
		- Joypad Button Press and Release
		- Joypad Handle Move.
	
	- Support for Touch (investigate more)
	
Graphics
	- Images
	- Textures
	- Modern Device Interface
		- Custom Vertex Attributes
		- Programmable Graphics Pipeline (Language depends on backend renderer)
	- Legacy Device Interface
		
Audio
	- Simple 2D Play
		- Volume Control
		- Pitch Control 
		
	- Listener (3D)
		- Volume Control
		- Pitch Control
		
	- Audio Buffers
	- Audio Buffer Queues
	- Extensible interface for loading Audio Samples 
	- Extensible inteface for sound effects

	
High-Level Layer
	
Scene Graph 
	- Scene - Based rendering 
	- Extensible Scene Node Object Interface

	